.hotel-view-container {
  display: flex;
  padding: 1rem 1rem;
  min-height: 90vh;
}

.enquiry-feedback-form-container {
  display: flex;
  padding: 1rem 1rem;
  min-height: 100vh;
}

.hotel-view-left-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex: 1 1 20rem;
}

.facility-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}
.facility-container span {
  margin: 0rem 1rem;
}

.facility-rooms {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex: 1 2 20rem;
  padding: 0rem 1rem;
}

.hotel-room-card {
  display: flex;
  box-shadow: 5px 5px 10px #92a9bd;
  margin: 0.5rem 0rem;
}

.room-description {
  width: 30rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.8rem;
}

.room-description h3 {
  font-size: 1.3rem;
}

.hotel-no-of-rooms-to-book,
.book-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#no-of-rooms {
  background: #1a2238;
  padding: 0.2rem 1rem;
  color: #9daaf2;
  border-radius: 5px;
  margin: 0rem 1rem;
  cursor: pointer;
}

.book-button button,
.submit-review {
  background: #ff6a3d;
  padding: 0.5rem 1rem;
  color: #1a2238;
  border-radius: 5px;
  margin: 0rem 1rem;
  border: none;
  cursor: pointer;
}

.submit-feedback {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.submit-feedback p,
.submit-feedback button,
.submit-feedback textarea {
  margin: 0.5rem 0rem;
}

.submit-feedback textarea {
  overflow: scroll;
  padding: 0.5rem;
}

.submit-feedback textarea::-webkit-scrollbar {
  display: none;
}

.feed-backs,
.enquiry-form {
  width: 50vw;
}

.feed-backs {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.feed-backs::-webkit-scrollbar {
  display: none;
}

.feed-backs h1,
.enquiry-form h1 {
  background: #1a2238;
  width: 100%;
  text-align: center;
  color: #fff;
}

.enquiry-form h1 {
  background: #ff6a3d;
  color: #000;
}

.feed-card {
  box-shadow: 5px 5px 10px #ccd1e4;
  width: 100%;
  padding: 0.5rem 1rem;
}

.feed-card p {
  margin: 0.5rem 0rem;
  padding: 0.5rem;
}

.feed-card p:nth-child(1) {
  background: #9daaf2;
}

.enquiry-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.enquiry-form input,
.enquiry-form textarea,
.enquiry-form button {
  margin: 0.5rem 0rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.enquiry-form textarea {
  overflow: scroll;
}

.enquiry-form textarea::-webkit-scrollbar {
  display: none;
}

.enquiry-form button {
  background: #1a2238;
  padding: 0.2rem 1rem;
  color: #9daaf2;
  border-radius: 5px;
  margin: 0rem 1rem;
  cursor: pointer;
  border: none;
}

.gallary {
  height: 45vh;
}

.review-message {
  width: 30rem;
}

@media screen and (max-width: 1310px) {
  .hotel-view-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .hotel-view-left-container {
    justify-content: center;
  }

  .hotel-room-card {
    align-items: center;
    justify-content: center;
  }

  .facility-rooms {
    align-items: center;
  }
  .feed-backs,
  .enquiry-form {
    width: 90vw;
  }
  .enquiry-feedback-form-container {
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    justify-content: center;
  }
}

@media screen and (max-width: 690px) {
  .hotel-room-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hotel-room-card div {
    margin: 0.5rem 0rem;
  }
  .submit-feedback {
    justify-content: center;
    align-items: center;
  }
}
