.profile-container {
  display: flex;
}

.profile-navigations {
  flex-direction: column;
  width: 20vw;
  height: 90vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 54%,
    rgba(0, 212, 255, 1) 100%
  );
}

.profile-menu-items-actions {
  width: 80vw;
  height: 90vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    317deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 54%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-buttons {
  background: transparent;
  border: none;
  color: #9daaf2;
  font-size: 1.2rem;
}

.profile-buttons:hover {
  cursor: pointer;
  color: #fff;
}

.user-profile-page {
  display: flex;
  flex-direction: column;
}

.profile-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-avatar img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.profile-avatar label {
  color: #fff;
  border: 1px solid #fff;
  padding: 0.2rem 1rem;
  margin: 0.5rem 0rem;
}

.update-profile-avatar {
  opacity: 0;
}

.user-details {
  display: flex;
  flex-wrap: wrap;
}

.basic-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basic-details input,
.basic-details textarea,
.address-details textarea {
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  background: transparent;
  color: #fff;
  margin: 0.5rem 2rem;
  border: none;
  border-bottom: 2px solid #fff;
}

.basic-details input::-webkit-outer-spin-button,
.basic-details input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.address-details textarea,
.basic-details textarea {
  overflow: scroll;
  height: 2.5rem;
}

.address-details textarea::-webkit-scrollbar,
.basic-details textarea::-webkit-scrollbar {
  display: none;
}

.basic-details input:focus,
.basic-details textarea:focus,
.address-details textarea:focus {
  outline: none;
}

.address-details button {
  font-size: 1.2rem;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  margin: 0.5rem 0rem;
  padding: 0.5rem;
  cursor: pointer;
  width: 10rem;
  border-radius: 5px;
  transition: 0.5s;
  background-size: 200% auto;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    #360033 0%,
    #0b8793 51%,
    #360033 100%
  );
}

.address-details button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.bookings-container,
.notification-container,
.users-for-admin-container,
.hotels-for-admin-owner-container,
.enquiries-container,
.responses-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 1rem 2rem;
}

.bookings-container td,
.notification-container td,
.users-for-admin-container td,
.hotels-for-admin-owner-container td,
.enquiries-container td,
.responses-container td {
  padding: 0.5rem 1rem;
  text-align: center;
}

.bookings-container td i:hover,
.notification-container td i:hover,
.users-for-admin-container td i:hover,
.hotels-for-admin-owner-container td i:hover,
.enquiries-container td i:hover,
.responses-container td i:hover {
  cursor: pointer;
}

@media screen and (max-width: 1140px) {
  .profile-menu-items-actions {
    width: 100vw;
  }
}

@media screen and (max-width: 540px) {
  .basic-details {
    width: 100vw;
  }

  .address-details {
    width: 100vw;
  }

  .user-profile-page input,
  .user-profile-page textarea {
    width: 80%;
  }
}
