/* Search Component Styles */

.search-container {
  /* border: 2px solid #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 90vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(157, 170, 242, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.left-search-container {
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.left-search-container h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.left-search-container input,
.left-search-container button {
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  margin: 0.5rem 0rem;
  border-radius: 5px;
  border: none;
}

.left-search-container label {
  color: #fff;
}

.search-hotel-button {
  background: #1a2238;
  border: none;
  color: #9daaf2;
  transition: border 0.2s ease;
  cursor: pointer;
}

.search-hotel-button:hover {
  border-bottom: 3px solid #ff6a3d;
  color: #fff;
}

/* Media Query For Search Bar */
@media screen and (max-width: 1430px) {
  .left-search-container h1 {
    font-size: 2rem;
    color: #000;
  }
  .left-search-container {
    align-items: center;
  }
  .left-search-container label {
    color: #000;
  }
  .left-search-container input,
  .left-search-container button {
    font-size: 1.5rem;
  }
  .right-search-container img {
    width: 100%;
    height: 100%;
  }
}
