/* Sign Up Form */

.sign-up-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-image: radial-gradient(
    circle farthest-corner at 7.2% 13.6%,
    rgba(37, 249, 245, 1) 0%,
    rgba(8, 70, 218, 1) 90%
  );
}
.sign-up-container {
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
  padding: 0.5rem 0rem;
  flex-wrap: wrap;
}

.sign-up-image-container {
  flex: 1 1 20rem;
  overflow: hidden;
}

.sign-up-image-container h1 {
  text-align: center;
}

.sign-up-form-container {
  flex: 1 1 20rem;
}

.sign-up-image-container img {
  width: 100%;
  height: 100%;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-form input,
.sign-up-form button,
.sign-up-form a {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 2px solid #fff;
}

.sign-up-form input::placeholder {
  color: #fff;
}

#sign-up-btn {
  background: #1a2238;
  color: #9daaf2;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.5s ease-in;
}

#sign-up-btn:hover {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  color: #000;
}

.sign-up-form a {
  color: #1a2238;
  border: none;
}

@media screen and (max-width: 849px) {
  .sign-up-image-container img {
    display: none;
  }
  .sign-up-container {
    border: none;
  }

  .sign-up-form-wrapper {
    align-items: flex-start;
    padding: 8rem 0rem;
  }
}
