/* 

#1A2238  backgrounds
#9DAAF2  primary
#FF6A3D  danger
#F4DB7D warning


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

/* Font Icons Color */

a {
  text-decoration: none;
  color: #9daaf2;
}

a:hover {
  color: #fff;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}

.universal-page-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

input:focus {
  outline: none;
  background: transparent;
}
